:host {
  display: block;
  padding-top: 50px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  width: 100vw;
}

.printable {
  .printUrl {
    font-size: 50px;
    display: none;
  }
}
