<div class="singInContent">
  <div class="logo">login</div>
  <div class="login-form">
    <div class="toHome" routerLink="/">
      <div class="icon">
        <mat-icon>arrow_back_ios</mat-icon>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [formControlName]="'email'">
              <mat-error >Please fill username</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [type]="hide ? 'password': 'text'" [formControlName]="'password'">
              <mat-icon matSuffix  (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >Please fill password</mat-error>
            </mat-form-field>
          </div>
          <!--<div class="form-group login-group-checkbox">-->
          <!--<mat-radio-button class="primary"><span>remember</span></mat-radio-button>-->
          <!--</div>-->
        </div>
        <button type="submit"  class="login-button" [disabled]="isLoading"><i class="fa fa-chevron-right"></i></button>
      </div>
    </form>
    <div class="etc-login-form">
      <!--<p>forgot your password? <a >click here</a></p>-->
      <p>new user? <a routerLink="/signup">create new account</a></p>
    </div>

  </div>

</div>
