:host {
  display: block;
  height: calc(100vh - 109px);
}
.urlInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 15px;
    }
  }
}
.qrBox {
  padding-top: 20px;
}
