<div class="urlInput">
  <form [formGroup]="qrForm" (ngSubmit)="generateQrCode()">
    <div class="formContent">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="example.com" value="" [formControlName]="'urlName'">
        <span matPrefix>www. &nbsp;</span>
        <mat-error *ngIf="qrForm.controls['urlName'].hasError('required')">URL daxil edilməyib</mat-error>
      </mat-form-field>
      <button mat-button color="accent" > Generate</button>
    </div>
  </form>


  <div class="qrBox " *ngIf="qrString">
    <qrcode [qrdata]="qrString" [size]="256" [level]="'M'"></qrcode>
  </div>

</div>
