<div class="header">
  <div class="brand">
    <p>Qr Scanner</p>
  </div>
  <div class="authActions">
    <p *ngIf="authenticated" routerLink="/my-links" class="login pr-2"> My Links </p>
    <p  *ngIf="!authenticated" routerLink="/login" class="login pl-2"> Login</p>
    <p class="signUp pl-2" *ngIf="!authenticated" routerLink="/signup">SignUp</p>
     <div class="menu pl-2" *ngIf="authenticated">
       <button mat-button [matMenuTriggerFor]="menu">{{user?.email}}</button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="onLogout()">Logout</button>
       </mat-menu>
     </div>
  </div>
</div>
