:host {
  display: block;
  height: 71px;
  width: 100%;
}
p {
  font-family: BebasNeue, sans-serif;
  font-size: 18px;
  letter-spacing: 3.2px;
  color: #ffffff;
  line-height: 0.8;

}
.header {
  display: flex;
  align-items: center;
  background: #000000;
  color: white;
  .brand {

  }
 .authActions {
   display: flex;
   align-items: center;
   margin-left: auto;
   padding-top: 42px;
   padding-bottom: 15px;
   padding-right: 50px;
   .login {
     cursor: pointer;
     margin-left: auto;
   }
   .logout {
     cursor: pointer;
   }
   .signUp {
     cursor: pointer;
   }
 }
  button {
    outline: none!important;
  }
}

