<!--<div *ngIf="availableDevices">-->
  <!--<select (change)="onDeviceSelectChange($event.target.value)">-->
    <!--<option value="" [selected]="!selectedDevice">No Device</option>-->
    <!--<option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>-->
  <!--</select>-->
<!--</div>-->

<div [hidden]="!hasCameras" class="d-flex flex-column">
   <div class="d-flex justify-content-center">

  <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice"
  (camerasFound)="onCamerasFound($event)"
  (scanSuccess)="handleQrCodeResult($event)"
  (scanError)="onScanError()"
  (scanFailure)="onScanError()"
></zxing-scanner>

  <p *ngIf="qrResultString">
    Nəticə:
    <strong>{{ qrResultString }}</strong>
  </p>

</div>
<div *ngIf="!hasCameras" class="noCameras">
  <h3>Camera not found</h3>
</div>

<div *ngIf="hasPermission === undefined && hasCameras">

  <blockquote>
    <h3>Xahiş olunur kameraya icaze verin</h3>
  </blockquote>

</div>

<div *ngIf="hasPermission === false && hasCameras">

  <h1>Siz kamerani blokladiz. Kamera görsənmiyecək!</h1>

</div>
