:host {
  display: block;
  height: calc(100vh - 16px);
  width: calc(100vw);
}
a {
  text-decoration: none;
}
.selectType {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.co {
  display: flex;
  width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}